:root {
    --primary-background:#e30918;
    --secondary-background: #000000;
    --font-color:white;
    --container-bg:#cccccc;
  }


.circlebg{
/* background: rgb(236, 232, 232);
border-radius: 50%; */

}

.cartbtn:hover{
    background-color:var(--primary-background);
    color: var(--font-color);
    border-color:var(--primary-background);
   
   }
   .cartbtn{
    color: var(--primary-background);
    /* padding: 10px 111px; */
    border-radius: 0%;
   }
   .brochImg{
    height:85%;
   width:96%;
   }
.textfont{
    font-size: 13px;

}
.textfont2{
    font-size: 11px;
}
.whr{
    width: 256px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .whr {
      width: 333px;
    }
  }