.quantity{
    border:2px solid rgb(222, 229, 236);
}
.containerbg{
    background-color: #f7f7f7;
}

.container {
    position: relative; 
    overflow: hidden; 
  }
  
  .zoomable-image {
    transition: transform 0.3s ease; 
  }
  
  .zoomed {
    transform: scale(1.1); 
  }
  .borderstyle{
    border:1px solid rgb(222, 229, 236);
    border-radius: 5px;
    
  }