
:root {
    --primary-background:#e30918;
    --secondary-background: #000000;
    --font-color:white;
    --container-bg:#cccccc;
  }
  
.topcontainer{
    background-color: var(--primary-background);
}
.logo img{
    margin-right:0px !important;
  
}
 img{
    margin-left: 70px;
 }
 .searchbtn{
    background-color: var(--primary-background);

 }
 .searchbtn:hover{
    background-color: rgb(172, 8, 8);
 }
.icons{
    color:var(--primary-background);
}
.social i:hover{
    color: var(--font-color);
    background-color:var(--secondary-background);
    padding: 3px;
    border-radius: 20%;
}
.fontcolor a{
    color: var(--font-color);
}

.fontcolor a:hover,.logintitle a:hover{
color:var(--secondary-background) ;
}

.logintitle a{
color:var(--primary-background);
}
.dropdown_scroll {
    max-height: 300px;
    overflow-y: auto;
  }
 /* width */
 .dropdown_scroll::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .dropdown_scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  .dropdown_scroll::-webkit-scrollbar-thumb {
    /* background: var(--primary-background); */
    background: #c9c9c9;
    border-radius: 10px;
    
  }
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }



  /* width */
::-webkit-scrollbar {
    width: 18px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 0px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #cecdcd;
    border-radius: 10px;
    
  }
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b4b4b4; 
  }