:root {
    --primary-background:#e30918;
    --secondary-background: #000000;
    --font-color:white;
    --container-bg:#cccccc;
  }
  

.cardcontain:hover{
    border-color: var(--primary-background);
}
.cardbtn{
    background-color: var(--primary-background);
   
}
.cardcontain{
     max-width:289px;
    height: 320px; 
    border-radius: 10px;
  
}

.cardbtns {
    opacity: 0;
    border-radius: 50%;
    transition: all .7s  cubic-bezier(0.6, 0.04, 0.98, 0.335) ;
    vertical-align: top;
   background-color: var(--primary-background);
  }
  .cardbtns:hover,.eyebtn:hover{
    background-color: var(--secondary-background);
  } 
  .cardcontain:hover .cardbtns ,.cardcontain:hover .eyebtn{
    opacity: 1;
   
  }
  .wishlistbtn{
    margin-right: -160px;
    margin-top:-130px;
    z-index: 1111;
  }
  .eyebtn{
    transition: all .7s  cubic-bezier(0.6, 0.04, 0.98, 0.335) .7s;
    opacity: 0;
    border-radius: 50%;
    vertical-align: top;
   background-color: var(--primary-background);
  }
  .wishlistbtnmob{
    /* margin-right: -160px;
    margin-top:-30px; */
    margin-top: -70px;
    margin-right: -50px;
    z-index: 1111;
  }

  /* cards */
  .bor{
    border-right: 1px solid #ccc;
  }
  .textcolor{
    color: #ccc;
    font-size: 10px;

  }

  .jqzoom{
    color: #777;
    text-decoration: none;
    transition: all 0.7s ease 0s;
  }
  .pfont{
    font-size: 14px;

  }
  .widthImg{
    width: 95%;
    
  }
  .hrcolor{
    border: 1px solid var(--primary-background);
  }
  .titlefont{
    font-size: 14px;
  }
  .imageContainer {
    position: relative;
    overflow: hidden;
    width:95%;
    height:330px; 
}

.imageContainer img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    transform-origin: center center;
    position: absolute;
}

.imageContainer:hover img {
    transform: scale(1.2);
    
}

.imageContainer:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .cardcontain{
       max-width:550px; 
     height: 320px; 
     border-radius: 10px;
    margin: 0px auto;
 }
  }