
:root {
    --primary-background: #ff0000;
    --secondary-background: black;
    --font-color:white;
  }
  


.dropdown-menu{
    background-color: rgb(150, 148, 148) transparent;
}
.navcontainer{
    background-color:var(--secondary-background);
    color: var(--font-color);
   
}
.navcontainerul{
    margin-right: -300px;
}
.btnnavcolor{
    background-color: var(--primary-background);
    color: var(--font-color);
}
.btnnavcolor:hover{
    background-color: rgb(172, 8, 8);
}

/* scroll */
.dropdown_scroll {
    max-height: 300px;
    overflow-y: auto;
  }
 /* width */
 .dropdown_scroll::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .dropdown_scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  .dropdown_scroll::-webkit-scrollbar-thumb {
    /* background: var(--primary-background); */
    background: #c9c9c9;
    border-radius: 10px;
    
  }
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }



  /* width */
::-webkit-scrollbar {
    width: 18px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 0px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #cecdcd;
    border-radius: 10px;
    
  }
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b4b4b4; 
  }

  /* Add this to your Nav.module.css or a separate CSS file */

  .close_button {
    display: none;
    }
@media only screen and (max-width: 991px) {

  .mobile_nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 45%;
    height: 100%;
    background-color: rgb(250, 246, 246); /* Semi-transparent black background */
    z-index: 1000; /* Ensure it overlays other content */
    display: none; /* Initially hidden */
    overflow-y: auto; /* Enable scrolling if menu exceeds screen height */
    color: rgb(0, 0, 0);
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* background-color: rgba(255, 255, 255, 0.938); */
  }
  
  .mobile_nav.show {
    display: block; /* Show mobile menu when isNavOpen is true */
  }
  
  .close_button {
    position: absolute;
    top: 20px;
    left: 10px;
    font-size: 30px;
    color:rgb(29, 27, 27); /* White color for close button */
    background: none;
    border: none;
    cursor: pointer;
    display: block;
    z-index: 1000;
  }
  
  .mobileMenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .mobileMenu .nav-item {
    margin-bottom: 10px;
  }
  
  .mobileMenu .nav-link {
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    display: block;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .mobileMenu .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent white background on hover */
  }
  
  .bgcolormob{
    background-color: #f3f3f3;
  }
  .textnavcolor{
    color:rgb(29, 27, 27);
  }
  .textnavcolor:active{
    color:rgb(29, 27, 27) !important;
  }
 }

 .navcontainer {
  position: relative;
}

.blurred {
  filter: blur(5px);
  pointer-events: none;
}



@media only screen and (max-width: 576) {
 
}